# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/

# Node (if you ever use it)
node_modules/

# macOS junk
.DS_Store

# IDEs
.vscode/
.idea/

# OS / misc
Thumbs.db
